* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  overflow-x: hidden;
  background-color: #141414;
}

.card-container {
  display: flex;
  max-width: 384px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
}
